<!-- Hello{{title}}

<h1 class="title">Title one</h1>

<h2 class="sub-title">Title two</h2>

<h6>another title</h6>

<p class="intro">Lorem ipsum dolor sit amet consectetur <b>adipisicing</b> elit. Facere rerum <i>aspernatur</i> alias perferendis molestiae iure voluptatibus corporis sed nulla! Consectetur, magni minus dolore accusamus, itaque, sapiente aspernatur voluptas rerum quos asperiores delectus culpa ad sed quia voluptates veniam odio illo quisquam labore. Ut odio tempore non dolore, recusandae ea architecto repellat laboriosam dolorem, earum sapiente, repudiandae delectus facere quisquam! Nesciunt vel porro fuga quod obcaecati doloribus aspernatur, perferendis officiis? Rem, dolorem magnam totam debitis repudiandae error sunt nihil? Ad quaerat illo aliquid perspiciatis earum. Perspiciatis ut, ab illo impedit nesciunt quia itaque vero blanditiis cum vel, fuga voluptas quis beatae?</p>


<div>
  This is an example of Div
</div>
<div id="user1">
  this is user 1
</div>

<a href="https://google.com">Go to Google</a>

<div style="margin-bottom:500px;">

  <section>
    <article>
      <h3>The importance of HTML</h3>
      <p>HTML stands for Hyper Text Markup Language. HTML is the standard markup language for creating Web pages. HTML describes the structure of a Web page. HTML consists of a series of elements. HTML elements tell the browser how to display the content.
      </p>
      <blockquote>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum repudiandae doloribus similique accusamus voluptatum odio dicta mollitia atque tempora, maxime ipsa nihil rem sapiente voluptate perspiciatis quia veniam. Facilis reiciendis quo nobis consequuntur atque recusandae illo dignissimos repellat. Similique voluptatum veritatis minus maiores repudiandae aperiam neque rem numquam sequi quod nobis vel adipisci inventore, omnis dolorem necessitatibus molestias exercitationem! Cumque, quo. Maxime maiores voluptates soluta alias excepturi fuga veniam, praesentium impedit? Sed quas qui error dolores tempora mollitia eius eligendi culpa quidem. Rem laboriosam a mollitia accusantium fugiat perferendis, nam atque minus id quam aspernatur. Repellat aperiam voluptatem natus culpa.</blockquote>
    </article>

    <article>
      <h3>The importance of CSS</h3>
     <p>CSS stands for Cascading Style Sheets. CSS describes how HTML elements are to be displayed on screen, paper, or in other media. CSS saves a lot of work. It can control the layout of multiple web pages all at once. External stylesheets are stored in CSS files.
    </p>
      <blockquote>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum repudiandae doloribus similique accusamus voluptatum odio dicta mollitia atque tempora, maxime ipsa nihil rem sapiente voluptate perspiciatis quia veniam. Facilis reiciendis quo nobis consequuntur atque recusandae illo dignissimos repellat. Similique voluptatum veritatis minus maiores repudiandae aperiam neque rem numquam sequi quod nobis vel adipisci inventore, omnis dolorem necessitatibus molestias exercitationem! Cumque, quo. Maxime maiores voluptates soluta alias excepturi fuga veniam, praesentium impedit? Sed quas qui error dolores tempora mollitia eius eligendi culpa quidem. Rem laboriosam a mollitia accusantium fugiat perferendis, nam atque minus id quam aspernatur. Repellat aperiam voluptatem natus culpa.</blockquote>
    </article>
    </section>

    <section>
      <ul>
      <li>Item1</li>
      <li>Item2</li>
      <li>Item3</li>
      <li>Item4</li>
      <li>Item5</li>
    </ul>
    <ol>
      <li>Item1</li>
      <li>Item2</li>
      <li>Item3</li>
      <li>Item4</li>
      <li>Item5</li>
    </ol>
    </section>


<div style="margin-bottom:100px"></div>
  <ul>
    <li class="flower1">Rose</li>
    <li class="flower2">Marigold</li>
    <li class="flower3">Tulip</li>
    <li class="flower4">Dalhia</li>
    <li class="flower5">Lavender</li>
  </ul>

</div> -->

<div class="app-container">
  <app-home></app-home>
</div>




<router-outlet></router-outlet>