<div class="home-container">
    <h1>Hello {{name}}</h1>
    <span>{{ duration }}</span><span> {{ duration > 1 ? 'seconds' :'second'}}</span>
    <h3>{{ "Using String Interpolation: " + title }}</h3>
</div>


<img [src]="imageUrl"/>
<br>
<br>
<input [disabled]="isActive" />
<button [disabled]="!isAuthenticated">Open</button>

<button [attr.aria-label]="actionName">{{actionName}} with Aria</button>
<a [href]="destinationUrl" [attr.alt-destination]="alternativeUrl">Search with google</a>

<div style="height: 200px;"></div>

<input [(ngModel)]="userName" placeholder="type your userName">
<h3> Hello, Welcome {{ userName }}</h3>

<button (click)="onClick()">SignUp</button>
<div class="user" (click)="toggleColor()">Div</div>
<h3>You have clicked {{ clickCounter }} times</h3>

<textarea (keydown)="onKeyPressed($event)"></textarea>

<h1 [class.special]="isSpecial">Class Binding</h1>
<h4 [ngClass]="isSpecial ? 'special' : 'user1'">Multiple class binding</h4>

<div [style.color]="applystyle? 'blue':'green'">Style Binding</div>


<div style="margin-bottom: 200px;"></div>